@font-face {
    font-family: "Attentica";
    src: url("/fonts/Attentica_4F_UltraLight.otf") format("otf"),
        url("/fonts/Attentica_4F_UltraLight.ttf") format("truetype");
}
:root{
    --grey-simple: #f3f3f3bd; 
}
body{
    background-color: black;
    font-family: A
}
.logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
/* === SLIDER PART === */

.slidecontainer {
    width: 80%;
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%);
    display: none;
}

.slidecontainer:hover{opacity: 1;}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: var(--grey-simple);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {opacity: 1;}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    /* 
        Pour le responsif il faudra penser à tourné le slider mais aussi le curseur avec les deux propriétés si dessous (transform et le webkit).
    */
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    cursor: pointer;
    /* 
        Pour le responsif il faudra penser à tourné le slider mais aussi le curseur avec les deux propriétés si dessous (transform et le webkit).
    */
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

.year {
    position: relative;
    display: block;
    width: 50;
    height: 50;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: bold;
    padding-top: 22px;
    box-sizing: border-box;
    left: attr(value);
    color: var(--grey-simple);
    font-size: 24px;    
}
/* === END OF SLIDER PART === */

/*Icônes*/
.soundOn{
    visibility: visible;
    color: var(--grey-simple);font-size: 22px;
    position: absolute;
    left: 96%;
    padding-top: 10px;
    cursor: pointer;
}
.soundOff{
    visibility: hidden;
    color: var(--grey-simple);font-size: 22px;
    position: absolute;
    left: 96%;
    padding-top: 10px;
    cursor: pointer;
}
.download{
    color: var(--grey-simple);font-size: 22px;
    position: absolute;
    left: 98%;
    transform: translate(5%);
    padding-top: 10px;
    cursor: pointer;
}
.chevronUp{
    color: var(--grey-simple);font-size: 22px;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 10px;
    cursor: pointer;
}
.chevronDown{
    color: var(--grey-simple);font-size: 22px;
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 10px;
    cursor: pointer;
    display: none;
}
.chevronDown:hover, .chevronUp:hover, .download:hover, .soundOff:hover, .soundOn:hover{
    color: white;
}
